body {
	margin: 0;
	padding: 0;
	background-image: url("page-background.jpeg");
	z-index: 1;
}
.container {
	position: relative;
    height: 825px;
    width: 630px;
    background-color: #292929;
    overflow: hidden;
   /* background-image: url("road.jpg"); */
    background-repeat: repeat;
    /*animation: animate 1s linear infinite;*/
}

/*.row {
	width:600px;
	height: 600px;
	background-color: red;
	border: 1px solid black;
	position: relative;
	background-image: url(""); 
	margin:0px auto;
	overflow: hidden;
	background-size: cover;	
	background-repeat: repeat;
	animation: animate 1s linear infinite;
}*/
.car{
    position: absolute;
    height: 60px;
    width: 40px;
   /* border-radius: 5px;
    box-shadow: 0px 1px 8px 0px black;*/
}

#car1 {
	width: 63px;
	height: 128px;
	top: -100px;
    left: 60%;
     background-image: url("car1.png");
}

#car2 {
	width: 68px;
	height: 124px;
	top: -300px;
    left: 40%;
    background-image: url("lambo.png");
}
#car3 {
	width: 68px;
	height: 128px;
	top: -500px;
    left: 30%;
    background-image: url("userCar.png");
}

#box {
	 width:64px;
	 height: 162px;
	 position: absolute;
	 bottom: 8%;
     left: 300px;
     background-image: url("ferrari_67x164.png");
}
#score {
	width: 100px;
	height: 100px;
	background-color: #cc351a;
	float:left;
	text-align: center;
	margin-left: 100px;
	margin-right: 50px;
	margin-top: 100px;
	padding-top: 25px;
	color: white;
	font-size: 30px;
	border-radius: 50%;
}
/*#speedoMeter {
	width : 200px;
	height: 200px;
	background-color: red;
	float: right; 
	margin-top: 200px;
}*/
.line{
    position: absolute;
    height: 150px;
    width: 4%;
    margin-left: 48%;
    background-color: rgba(255,255,255,0.5);
}
#line_1{
    top: -150px;
}
#line_2{
    top: 150px;
}
#line_3{
    top: 450px;
}
#restartDiv {
	position: relative;
	width:30%;
	height: 20%;
	background-color: #2cbfe8;
	display: none;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 50px;
	margin-right: 50px;
	padding-top: 50px;
	z-index: 1;
	border-radius: 25%;
	font-size: 30px;
}
div >p{
	color: white;
}

/*
@keyframes animate {
	from {
		background-position: 0px 0px;
	}
	to {
		background-position: 0px 300px;
	}
}*/